body {
	font-family: 'Helvetica';
}

h1 {
	font-size: 24px;
	font-weight: 900;
}

form {
	padding: 0 6% 6% 6%;
}

textarea {
	resize: none;
}

button {
	cursor: pointer;
	background: transparent;
}

.main {
	background: #C8F902;
	border: 2px solid #666;
}

.navbar {
	background: #32CD32;
	margin: 0;
	overflow: auto;
}

.navsep {
	height: 2px;
	margin-top: 0;
}

.paste {
	background: #DDD;
	float: right;
	font-size: 12px;

	border-width: 1px;
}

.submit {
	width: 40%;
	height: 50px;
	font-size: 16px;
	margin: 4%;
}

.settings {
	background: transparent;
	padding: 0;
	margin: 2px;
	border: none;
	float: right;
}

.textbox {
	width: 75%;
}

.space {
	height: 8px;
}
